.about-us {
  padding-top: 80px;
  padding-left: 110px;

  @media (max-width: $tablet) {
    padding-left: 0;
  }
}

.about-us__about-us {
  margin: 0;
  font-size: 53px;
  font-weight: 700;
  font-family: $OpenSans;

  @media (max-width: $tablet) {
    font-size: 43px;
  }
}

.about-us__item {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  padding-top: 110px;
  background-repeat: no-repeat;
  background-position: 0 60px;
  width: 49%;
  padding-right: 172px;

  @media (max-width: $tablet) {
    margin-right: 0;
    padding-right: 34px;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &--material {
    background-image: url("../img/icon-1.svg");
  }

  &--hand-made {
    background-image: url("../img/icon-2.svg");
  }

  &--price {
    background-image: url("../img/icon-3.svg");
  }

  &--like {
    background-image: url("../img/icon-5.svg");
  }

  &--support {
    background-image: url("../img/icon-4.svg");
  }

  &--gift {
    background-image: url("../img/icon-6.svg");
  }
}

.about-us__list ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  padding-bottom: 90px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    flex-direction: row;
  }
}
