.busket {
  margin-top: 55px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 23px;
    background-image: url("../img/zigzag-line.svg");
    background-repeat: repeat;
    z-index: 2;
    display: inline-block;
    position: absolute;
    bottom: 0;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
  }
}

.busket__img {
  position: relative;
  margin-top: -100px;
  z-index: -1;
  width: 45.6vw;

  @media (max-width: $tablet) {
    margin-top: 5px;

    height: 404px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    height: 315px;
    margin-top: -445px;

    width: 81vw;
  }
}

.busket-background {
  // background-image: url("../img/busket-desktop.png");
  // background-repeat: no-repeat;
  // background-size: 525px, cover;
  // min-height: 636px;
  // background-position: top right;

  margin: 0 auto;

  @media (max-width: $tablet) {
    background-size: 334px 404px;
    min-height: 404px;

    background-position: center right;
    margin-left: 50px;
    margin-right: 55px;
  }

  @media (max-width: $mobile) {
    background-position: center;

    margin-left: 0;
  }
}

.busket__flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (max-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.busket__signature {
  font-size: 17px;
  line-height: 17px;
  color: $light-green;
  text-transform: uppercase;
  padding-right: 23px;
  padding-top: 45px;
  padding-left: 1.74vw;
  width: 100px;

  @media (max-width: $tablet) {
    padding-right: 0;
  }

  @media (max-width: $mobile) {
    padding-top: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.busket__caption {
  font-size: 53px;
  font-weight: bold;

  @media (max-width: $tablet) {
    font-size: 43px;
  }

  @media (max-width: $mobile) {
    padding-top: 50px;
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.busket__card {
  margin-left: 10vw;
  font-family: $OpenSans;
  font-size: 17px;
  line-height: 30px;
  padding-bottom: 73px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 185px;
  }
}

.busket__card-flex {
  @media (max-width: $tablet) {
    width: 38vw;
  }

  @media (max-width: $mobile) {
    width: 80vw;
  }
}

.busket__p {
  padding-bottom: 60px;
  margin: 0;

  @media (max-width: $tablet) {
    padding-bottom: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 15px;
    line-height: 24px;
  }
}

.busket__table {
  border-collapse: collapse;

  @media (max-width: $mobile) {
    width: 260px;
    margin-bottom: 300px;
  }
}

.busket__td {
  padding-bottom: 15px;

  &--color {
    padding-right: 60px;
  }

  &--diameter {
    padding-right: 28px;
  }

  &--height {
    padding-right: 40px;
  }
}

.busket__tr {
  border-bottom: 1px solid $line-grey;
}

.busket__span {
  color: $light-black;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 33px;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }
}

.busket__button {
  padding: 16px 86px;
  border: 2px solid $light-black;
  display: block;
  align-self: center;
  text-align: center;
  width: 292px;

  @media (max-width: $tablet) {
    width: 38vw;
    padding: 16px 70px;

    @media (max-width: $mobile) {
      width: 81vw;
    }
  }
}
