.busket {
  margin-top: 55px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 23px;
    background-image: url("../img/zigzag-line.svg");
    background-repeat: repeat;
    z-index: 2;
    display: inline-block;
    position: absolute;
    bottom: 0;
  }
}

.busket-background {
  background-image: url("../img/busket-desktop.png");
  background-repeat: no-repeat;
  background-size: 45vw cover;
  min-height: 636px;
  background-position: top right;
  min-width: 673px;
  max-width: 1050px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    background-size: 334px 404px;
    min-height: 404px;
    width: 672px;
    background-position: center right;
  }

  @media (max-width: $mobile) {
    min-width: 320px;
    background-position: bottom center;
  }
}

.busket__flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 20px;

  @media (max-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.busket__signature {
  font-size: 17px;
  line-height: 17px;
  color: $light-green;
  text-transform: uppercase;
  padding-right: 23px;
  padding-top: 45px;
  padding-left: 20px;
  width: 100px;

  @media (max-width: $tablet) {
    padding-right: 0;
    padding-left: 20px;
  }

  @media (max-width: $mobile) {
    padding-top: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.busket__caption {
  font-size: 53px;
  font-weight: bold;

  @media (max-width: $tablet) {
    font-size: 43px;
  }

  @media (max-width: $mobile) {
    padding-top: 50px;
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.busket__card {
  width: 292px;
  margin-left: 115px;
  font-family: $OpenSans;
  font-size: 17px;
  line-height: 30px;
  padding-bottom: 73px;

  @media (max-width: $tablet) {
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    width: 320px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.busket__p {
  padding-bottom: 60px;
  margin: 0;

  @media (max-width: $mobile) {
    font-size: 15px;
    line-height: 24px;
  }
}

.busket__table {
  border-collapse: collapse;
}

.busket__td {
  padding-bottom: 15px;

  &--color {
    padding-right: 60px;
  }

  &--diameter {
    padding-right: 28px;
  }

  &--height {
    padding-right: 40px;
  }
}

.busket__tr {
  border-bottom: 1px solid $line-grey;
}

.busket__span {
  color: $light-black;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 33px;
}

.busket__button {
  padding: 16px 86px;
  border: 2px solid $light-black;
  display: block;
  align-self: center;
  text-align: center;
}
