.contacts-iframe {
  display: flex;
  margin: 0 auto;
  padding-top: 70px;
  flex-direction: column;
  padding-bottom: 55px;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.contacts {
  padding-left: 110px;
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    padding: 0;
    padding-bottom: 40px;
    flex-direction: column;
  }
  &::before {
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    left: 17px;
    display: inline-block;

    @media (max-width: $tablet) {
      right: 50px;
      left: auto;
      align-items: center;
      justify-content: center;
    }
  }
}

.contacts__caption {
  font-family: $OpenSans;
  font-weight: 700;
  font-size: 53px;
  color: $basic-black;
}

.contacts__td {
  font-size: 17px;
  font-weight: 400;
  min-width: 80px;
  margin-bottom: 33px;

  &--first {
    padding-right: 20px;
  }
}

.contacts__lists {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
  padding-bottom: 30px;

  &--last {
    margin-bottom: 85px;

    @media (max-width: $tablet) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.contacts__lists-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 405px;

  @media (max-width: $tablet) {
    flex-direction: row;
    width: 672px;
    margin: 0 auto;
    padding-right: 70px;
  }
}

.contacts__item {
  margin-right: 14px;
  font-size: 17px;

  &--email {
    padding-bottom: 2px;
    border-bottom: 1px solid $light-green-form;

    @media (max-width: $tablet) {
      padding-right: 0;
      margin-bottom: 11px;
    }
  }
}

.button__margin {
  margin: 0 auto;
  margin-top: 55px;

  @media (max-width: $tablet) {
    width: 230px;
  }
}
