.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 43px 50px;
  background-color: $basic-grey;
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__item {
  padding-left: 40px;
}

.footer__item-academy {
  padding-left: 28px;
}
