.header {
  color: $basic-white;
}

.main-nav__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__wrap ul {
  padding-left: 0px;
}

.main-nav__line {
  display: flex;
}

.main-nav__toggle {
  display: none;
}

.main-nav__link {
  color: $basic-black;
  font-weight: 700;
}

.main-nav__item {
  @media (max-width: $desktop-max) {
    width: 235px;
  }
  @media (max-width: $tablet-max) {
    width: 100%;
  }
}
.main-nav__link--big {
  @media (max-width: $desktop-max) {
    font-style: 17px;
  }

  @media (max-width: $tablet-max) {
    font-size: 15px;
  }

  @media (max-width: $mobile-max) {
    font-size: 17px;
  }
}

.main-nav__link--small {
  font-size: 15px;
}

.main-nav__link--span {
  font-weight: 400;
  font-family: Open Sans;
}

.main-nav__logo-basket {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-nav__item--basket {
  text-align: end;
  width: 100%;
}
