.main-nav {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
  }
}

.main-nav__img {
  height: 35px;
  margin: 22px auto;
  display: flex;
  justify-content: space-between;
  width: 81.25vw;

  @media (min-width: $tablet) {
    position: relative;
    left: -43.8vw;
    width: 49%;
  }

  @media (min-width: $desktop) {
    left: 0;
  }
}

.main-nav__logo {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop) {
    width: 150px;
    height: 72px;
  }
}

.main-nav__link {
  display: block;
  width: 86px;
  padding-left: 24vw;

  @media (min-width: $desktop) {
    padding-left: 20vw;

    &--border {
      padding-right: 2vw;
      padding-top: 32px;
      padding-bottom: 32px;
      border-right: 1px solid $black-opacity1;
    }
  }
}

.main-nav__lists {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 1px solid #ececec;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    margin-top: -80px;
  }
}

.main-nav__lists--closed .main-nav__list {
  display: none;
}

.main-nav__list {
  padding-left: 0;
  margin: 0;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet) {
    &--tablet {
      display: flex;
      position: absolute;
      right: 3.4vw;
      top: 110px;
    }

    &--end {
      position: absolute;
      display: flex;
      // margin-top: -75px;
      // margin-left: 18vw;
      top: 0;
      right: 0;
    }

    &--catalog {
      display: flex;
      font-size: 15px;
    }

    @media (min-width: $desktop) {
      &--desktop {
        display: flex;
      }
    }
  }
}

.main-nav__list-link {
  color: $basic-black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 24vw;

  @media (min-width: $tablet) {
    padding-left: 38px;
  }
}

.main-nav__span {
  &--delete {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.main-nav__svg {
  margin-left: -29px;
  margin-right: 8px;
}

.main-nav__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    box-shadow: none;

    &--svg {
      border-left: 1px solid #ececec;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

// .main-nav__underline {
//   box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

//   @media (min-width: $tablet) {
//     box-shadow: none;
//     position: relative;
//     height: 100%;
//   }
// }

// .main-nav__container {
//   display: flex;
//   justify-content: space-between;
//   padding-left: 25vw;
//   margin: 0 auto;
//   width: 81.3vw;
//   min-height: 80px;

//   @media (min-width: $tablet) {
//     padding-left: 0;
//     width: auto;
//     position: relative;
//   }
// }

// .main-nav__notpadding {
//   padding-left: 0;
// }

// .main-nav__link {
//   font-size: 17px;
//   line-height: 24px;
//   font-weight: 700;
//   color: $basic-black;
//   padding-left: 23.8vw;
//   padding-top: 28px;
//   padding-bottom: 27px;
//   display: block;

//   &--small {
//     display: none;
//   }

//   &--img {
//     margin-left: -22px;
//   }

//   @media (min-width: $tablet) {
//     padding-left: 0;

//     &--small {
//       display: flex;
//     }

//     &--desktop {
//       display: none;
//     }

//     &--search {
//       border-left: 1px solid $line-grey;
//       border-right: 1px solid $line-grey;
//       margin-left: -0px;
//       min-height: 90px;
//       padding-left: 90px;
//       background-position: 45px 30px;
//     }
//   }
// }

// .main-nav__svg {
//   margin-right: 10px;
// }

// .main-nav__wrap--closed .main-nav__list {
//   display: none;

//   @media (min-width: $tablet) {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//   }
// }

// .main-nav__wrap {
//   @media (min-width: $tablet) {
//     display: flex;
//     width: 87vw;
//     margin: 0 auto;
//   }
// }

// .no-js .main-nav__list,
// .main-nav__wrap--opened .main-nav__list {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-right: 0;

//   @media (min-width: $tablet) {
//     display: flex;
//   }
// }

// // .main-nav__list {
// //   @media (min-width: $tablet) {
// //     display: flex;
// //     flex-direction: column-reverse;
// //     margin-top: -200px;
// //   }
// // }

// .main-nav__list {
//   @media (min-width: $tablet) {
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: space-between;
//   }
// }

// .main-nav__span {
//   @media (min-width: $tablet) {
//     &--search {
//       display: none;
//     }
//   }
// }

// @media (min-width: $tablet) {
//   .main-nav__item:nth-child(1) {
//     order: 2;
//   }

//   .main-nav__item:nth-child(2) {
//     order: 1;
//     padding-left: 50vw;
//   }

//   .main-nav__item:nth-child(3) {
//     order: 3;
//   }

//   .main-nav__item:nth-child(4) {
//     order: 4;
//   }
// }
