.main-nav__item {
  padding-left: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;

    &--tablet {
      display: flex;
      flex-direction: row;
      padding-left: 388px;
    }
  }
}

.main-nav__img {
  width: 86px;
  height: 35px;
  margin-top: 22px;
  margin-bottom: 22px;
  position: absolute;
}

.main-nav__underline {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet) {
    box-shadow: none;
    position: relative;
    height: 100%;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  margin: 0 auto;
  width: 81.3vw;
  min-height: 80px;

  @media (min-width: $tablet) {
    padding-left: 0;
    width: auto;
    position: relative;
  }
}

.main-nav__notpadding {
  padding-left: 0;
}

.main-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-black;
  padding-left: 23.8vw;
  padding-top: 28px;
  padding-bottom: 27px;
  display: block;

  &--small {
    display: none;
  }

  &--search {
    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-left: -40px;
    background-position: 0 30px;
  }

  &--busket {
    background-image: url("../../img/cart.svg");
    background-repeat: no-repeat;
    padding-left: 140px;
    margin-left: -40px;
    background-position: 40px 30px;
  }

  @media (min-width: $tablet) {
    padding-left: 0;

    &--small {
      display: flex;
    }

    &--desktop {
      display: none;
    }

    &--search {
      border-left: 1px solid $line-grey;
      border-right: 1px solid $line-grey;
      margin-left: -50px;
      min-height: 90px;
      padding-left: 90px;
      background-position: 60px 30px;
    }
  }
}

.main-nav__wrap--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__wrap {
  @media (min-width: $tablet) {
    display: flex;
    width: 87vw;
    margin: 0 auto;
  }
}

.no-js .main-nav__list,
.main-nav__wrap--opened .main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;

  @media (min-width: $tablet) {
    display: flex;
  }
}

// .main-nav__list {
//   @media (min-width: $tablet) {
//     display: flex;
//     flex-direction: column-reverse;
//     margin-top: -200px;
//   }
// }

.main-nav__list {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

.main-nav__span {
  @media (min-width: $tablet) {
    &--search {
      display: none;
    }
  }
}

@media (min-width: $tablet) {
  .main-nav__item:nth-child(1) {
    order: 2;
  }

  .main-nav__item:nth-child(2) {
    order: 1;
  }

  .main-nav__item:nth-child(3) {
    order: 3;
  }

  .main-nav__item:nth-child(4) {
    order: 4;
  }
}
