/* Общие стили. Каркас
   ========================================================================== */

.page-body {
  margin: 0 auto;
  font-family: $OpenSans;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.page-body {
  @media (max-width: $desktop-max) {
    width: 1050px;
  }

  @media (max-width: $tablet-max) {
    width: 672px;
  }

  @media (max-width: $mobile-max) {
    width: 260px;
  }
}
