$mobile-max: 260px;
$tablet: 672px;
$desktop: 1050px;

$basic-white: #ffffff;
$basic-grey: #f1f1f1;
$line-grey: #ececec;
$basic-black: #000000;
$social-black: #231F20;
$light-black: #444444;
$light-green: #63D1BB;
$green: #56C3B2;
$dark-green: #149080;
$light-green-form: #62D1BA;
$green-link: #46C1AE;

$black-opacity2: rgba(0, 0, 0, 0.2);
$black-opacity3:  rgba(0, 0, 0, 0.3);
$black-opacity6: rgba(0, 0, 0, 0.6);
$white-opacity1: rgba(255, 255 ,255, 0.1);
$white-opacity3: rgba(255, 255, 255, 0.3);
$grey-opacity3: rgba(68, 68, 68, 0.3);
$green-opacity3: rgba(99, 209, 187, 0.3);